.Strategy { background-color: #f5dea8; }
.Motivation { background-color: #ceceff; }
.Business { background-color: #ffffb5; }
.Application { background-color: #b5fffe; }
.Technology { background-color: #cae7b7; }
.Implementation { background-color: #ffdfe0; }
.Other { background-color: #cccccc; }
