<!doctype html>
<html>
<head>
  <title>Welcome</title>

</head>
<body style="background-color: white; font-family: sans-serif;">

{% include '_searchbox.html' %}

<hr>


<h2>ArchiMate Explorer</h2>
If you've just downloaded this, it's initialized with <a href="https://github.com/archimatetool/ArchiModels">Archinsurance</a> model. Try a search and explore, then read below to import your own model.

<h2>Use your own model</h2>
<ol>
<li>From Archi, export "Open Exchange" XML into 'static/data' folder
<li>From Archi, generate HTML report into 'static/reports' folder
<li>Edit config section of flaskapp.py with your own values.
<li><a href="/refresh">Then click here to process the data</a>.
</ol>




</body>
</html>

