<!doctype html>
<html>
<head>
  <title>Welcome</title>

</head>
<body style="background-color: white; font-family: sans-serif;">

{% include '_searchbox.html' %}

Search for an element to get started.
<hr>

<h2>How to explore Archi data</h2>
<ol>
<li>Export CSV to 'data' folder
<li>Click <a href="refresh">refresh</a>, to process CSV
</ol>

<h2>How to expose documentation</h2>
*Edit ELEMENTS_PATH in 'config.py', to the elements subfolder
<ol>
<li>Generate HTML report in 'static/report' folder
</ol>


</body>
</html>

